/* Remove 3D effect */
:root {
    --bg: wheat;
    --bg-legend: lightgray;
    --bg-calc:#5a5a5a;
    --border-calc: #212124;
    --bg-calc-disp: #366402;
    --color-calc-disp: black;
    --border-calc-disp: var(--color-calc-disp);
    --bg-calc-btn: #8b8a8a;
    --color-calc-btn: white;
    --border-calc-btn-act: var(--bg-calc-btn);
    --bg-calc-btn-func: rgb(75,73,73);
    --bg-calc-btn-op: #FFAE42;
    --bg-calc-btn-func-hov:rgb(58, 57, 57);
    --bg-calc-btn-num-hov:#6d6c6c;
    --bg-calc-btn-op-hov:#e29a3d;
    --bg-calc-btn-calc: var(--bg-calc-btn-op-hov);
    --bg-calc-btn-func-act:var(--bg-calc-btn-func-hov);
    --calc-btn-func-border-act:var(--color-calc-btn);
    --bg-calc-btn-num-act:var(--bg-calc-btn-num-hov);
    --calc-btn-num-act-border:var(--bg-calc-btn);
    --bg-calc-btn-calc-act: var(--bg-calc-btn-op-hov);
    --calc-btn-calc-act: var(--bg-calc-btn-op); 
}
.darkmode{
    --bg:#181a1b;
    --bg-calc:#44494c;
    --border-calc: #81776a;
    --bg-calc-disp: #203c01;
    --color-calc-disp: white;
    --border-calc-disp: #8c8273;
    --bg-calc-btn: #5a6165;
    --color-calc-btn: white;
    --border-calc-btn-act: var(--bg-calc-btn);
    --bg-calc-btn-func: #383c3f;
    --bg-calc-btn-op: #a45e00;
    --bg-calc-btn-func-hov:rgb(58, 57, 57);
    --bg-calc-btn-num-hov:#6d6c6c;
    --bg-calc-btn-op-hov:#e29a3d;
    --bg-calc-btn-calc: var(--bg-calc-btn-op-hov);
    --bg-calc-btn-func-act:var(--bg-calc-btn-func-hov);
    --calc-btn-func-border-act:var(--color-calc-btn);
    --bg-calc-btn-num-act:var(--bg-calc-btn-num-hov);
    --calc-btn-num-act-border:var(--bg-calc-btn);
    --bg-calc-btn-calc-act: var(--bg-calc-btn-op-hov);
    --calc-btn-calc-act: var(--bg-calc-btn-op); 
}
@font-face{
    font-family: Digital7;
    src: url(/teamcalculator/css/fonts/digital-7.ttf);
}
@font-face {
    font-family: digital7;
    src: url(./fonts/digital-7.ttf);
}
.broken.calculator-buttons button:active{
    animation-name: runaway-btns, circle;
    animation-duration: 0.25s, 1.5s;
    animation-delay: 0s, 0.25s;
    animation-iteration-count: 1, infinite;
}
* {
    border-radius: 0;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
body {
    display: flex;
    background-color: var(--bg);
    flex-direction: column;
}
/* Layout */
.calculator{
/*     margin-left: auto;
    margin-right: auto; */
    margin: auto;
    vertical-align: middle;
    display: flex;
    width: 300px;
    min-height: 384px;
    background-color: var(--bg-calc);
    padding: 8px;
    border: var(--border-calc) solid 5px;
    border-radius: 25px;
    /* border:steelblue solid 5px; */
    flex-direction: column;
}
.calculator-display{
    /* border:blue solid 1px;  */
    /* margin-right: auto; */
    background-color: var(--bg-calc-disp);
    max-width: 300px;
    font-size: 65px;
    font-family: Digital7,digital7, sans-serif;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 13px;
    color: var(--color-calc-disp);
    height: 60px;
    margin-bottom: 5px;
    /* border-radius: 15px; */
    text-align: right;
    border:var(--border-calc-disp) 5px solid;
}
.calculator-buttons{
    border: none;
    gap:1px;
    background-color: inherit;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.calculator-buttons button{
/*    padding-left: 28px;
   padding-right: 28px; 
   border-radius: 10px; */
   padding-top: 15px;
   padding-bottom: 15px; 
   max-height: 60px;
   background-color: var(--bg-calc-btn);
   width: 74px;
   font-size: 25px;
   color: var(--color-calc-btn);
   border:none;
}
.calculator-buttons button:active{
    transform: scale(0.9,0.9);
    border: var(--bg-calc-btn) solid 2px;
}
/* Colours */
.calculator-buttons .function{
    background-color: var(--bg-calc-btn-func);
    flex-grow: 1;
}
.calculator-buttons .number{
    flex-grow: 1;
}
.calculator-buttons .operator{
    flex-grow: 1;
    background-color: var(--bg-calc-btn-op);
}
/* Hover and Click events */
.calculator-buttons .function:hover{
    background-color: var(--bg-calc-btn-func-hov);
}
.calculator-buttons .number:hover{
    background-color: var(--bg-calc-btn-num-hov);
}
.calculator-buttons .operator:hover{
    background-color: var(--bg-calc-btn-op-hov);
}
.calculator-buttons [data-action="calculate"]:hover{
    background-color: var(--bg-calc-btn-op-hov);
}
.calculator-buttons .function:active{
    background-color: var(--bg-calc-btn-func-hov);
    border: var(--color-calc-btn) solid 2px;
    transform: scale(0.9,0.9);
}
.calculator-buttons .number:active{
    background-color: var(--bg-calc-btn-num-hov);
    border: var(--bg-calc-btn) solid 2px;
    transform: scale(0.9,0.9);
}
.calculator-buttons .operator:active{
    background-color: var(--bg-calc-btn-op-hov);
    border: var(--bg-calc-btn-op) solid 2px;
    /* transform: scale(0.9,0.9); */
    transform: scale(0.9,0.9);
}
.calculator-buttons [data-action="calculate"]:active{
    background-color: var(--bg-calc-btn-op-hov);
    border: var(--bg-calc-btn-op) solid 2px;
    transform: scale(0.9,0.9);
}
/* !!Special Buttons (Moving will break styling)!! Keep below calculator stuff! */
.calculator-buttons [data-action="decimal"]{
    flex-grow:0;
    margin-left: 0px;
}
.calculator-buttons [data-action="clear"]{
    border-radius: 15px 0 0 0;
}
.calculator-buttons [data-action="divide"]{ border-radius: 0 15px 0 0;}
.calculator-buttons [data-action="changemode"]{ border-radius: 0 0 0 15px;}
.calculator-buttons [data-action="calculate"]{
    margin-left: 0.5px;
    flex-grow: 0;
    background-color: var(--bg-calc-btn-op);
    border-radius: 0 0 15px 0;
}
/* Legend Styling */
.mode:hover {
    background-color: var(--bg-calc-btn-num-hov);
}
.legend{
    background-color: rgba(196, 196, 196, 0.5);
    border: rgba(68, 53, 53, 0.6) 3px solid; 
    border-radius: 15px;
    padding: 15px;
    display: flex;
    padding-left: 0px;
    padding-right: 30px;
    flex-direction: column;
    /* opacity: 50%; */
    font-size: 22px;
    margin: 30px auto auto auto;
}
.legend .material-icons{
    color: rgba(121, 121, 121, 0.349);
}
.legend ul {
    list-style-type: none;
}
.active.material-icons {
    color: red;
}
@keyframes runaway-btns {
    from { transform: translateX(0) }
    to { transform: translateX(-165px); }
}
@keyframes circle{
    from{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    to{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
/* @keyframes spin {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
 */