/* Remove 3D effect */
* {
    border-radius: 0;
    background-color: wheat;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
body {
    display: flex;
}
/* Layout */
.calculator{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    width: 300px;
    height: 384px;
    background-color: #5a5a5a;
    padding: 8px;
    border: #212124 solid 5px;
    border-radius: 25px;
    /* border:steelblue solid 5px; */
    flex-direction: column;
}
.calculator-display{
    /* border:blue solid 1px;  */
    /* margin-right: auto; */
    background-color: #284b01;
    max-width: 300px;
    font-size: 50px;
    padding-right: 5px;
    color: black;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: right;
    border:black 5px solid;
}
.calculator-buttons{
    border: none;
    gap:1px;
    background-color: inherit;
    text-align: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.calculator-buttons button{
/*    padding-left: 28px;
   padding-right: 28px; 
   border-radius: 10px; */
   padding-top: 15px;
   padding-bottom: 15px; 
   max-height: 60px;
   background-color: #8b8a8a;
   width: 74px;
   font-size: 25px;
   color: white;
   border:none;
}
.calculator-buttons button:active{
    transform: scale(0.9,0.9);
    border: #8b8a8a solid 2px;
}
/* Colours */
.calculator-buttons .function{
    background-color: rgb(75, 73, 73);
    flex-grow: 1;
}
.calculator-buttons .number{
    flex-grow: 1;
}
.calculator-buttons .operator{
    flex-grow: 1;
    background-color: #FFAE42;
}
/* Hover and Click events */
.calculator-buttons .function:hover{
    background-color: rgb(58, 57, 57);
}
.calculator-buttons .number:hover{
    background-color: #6d6c6c;
}
.calculator-buttons .operator:hover{
    background-color: #e29a3d;
}
.calculator-buttons [data-action="calculate"]:hover{
    background-color: #e29a3d;
}
.calculator-buttons .function:active{
    background-color: rgb(58, 57, 57);
    border: rgb(75, 73, 73) solid 2px;
    transform: scale(0.9,0.9);
}
.calculator-buttons .number:active{
    background-color: #6d6c6c;
    border: #8b8a8a solid 2px;
    transform: scale(0.9,0.9);
}
.calculator-buttons .operator:active{
    background-color: #e29a3d;
    border: #FFAE42 solid 2px;
    /* transform: scale(0.9,0.9); */
    transform: scale(0.9,0.9);
}
.calculator-buttons [data-action="calculate"]:active{
    background-color: #e29a3d;
    border: #FFAE42 solid 2px;
    transform: scale(0.9,0.9);
}
/* !!Special Buttons (Moving will break styling)!! Keep below calculator stuff! */
.calculator-buttons [data-action="decimal"]{
    flex-grow:0;
    margin-left: 0px;
}
.calculator-buttons [data-action="clear"]{
    border-radius: 15px 0 0 0;
}
.calculator-buttons [data-action="divide"]{ border-radius: 0 15px 0 0;}
.calculator-buttons [data-action="changemode"]{ border-radius: 0 0 0 15px;}
.calculator-buttons [data-action="calculate"]{
    margin-left: 0.5px;
    flex-grow: 0;
    background-color: #FFAE42;
    border-radius: 0 0 15px 0;
}
/* Legend Styling */
.mode:hover {
    background-color: #6d6c6c;
}
.legend {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: 30px;
}
